.PublicButton {
  display: inline-block;
  transition: all 0.3s;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  outline: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap; }
  .PublicButton:hover {
    text-decoration: none; }
  .PublicButton > span {
    display: inline-block; }

.PublicButton--responsive {
  width: 100%; }
  .PublicButton--responsive > span {
    max-width: 100%; }

.PublicButton--long > span {
  min-width: 140px; }

.PublicButton--sSmall > span {
  padding: 8px 20px; }

.PublicButton--sMedium > span {
  padding: 10px 20px; }

.PublicButton--sLarge > span {
  padding: 12px 20px; }

.PublicButton--sXlarge > span {
  padding: 14px 40px; }

.PublicButton--cWhite {
  border-color: rgba(255, 255, 255, 0.3);
  color: #FFF; }
  .PublicButton--cWhite:hover {
    border-color: rgba(255, 255, 255, 0.4); }
  .PublicButton--cWhite.is-highlight {
    background: #FFF;
    color: #3AA9E3; }
    .PublicButton--cWhite.is-highlight:hover {
      opacity: 0.9; }
  .PublicButton--cWhite.is-hover:hover {
    background: #FFF;
    color: #3AA9E3; }
  .PublicButton--cWhite.is-hover--dark:hover {
    color: #2E3C43; }

.PublicButton--cBlue {
  border-color: rgba(58, 169, 227, 0.3);
  color: #3AA9E3; }
  .PublicButton--cBlue:hover {
    border-color: rgba(58, 169, 227, 0.4); }
  .PublicButton--cBlue.is-highlight {
    background: #3AA9E3;
    color: #FFF; }
    .PublicButton--cBlue.is-highlight:hover {
      opacity: 0.9; }
  .PublicButton--cBlue.is-hover:hover {
    background: #3AA9E3;
    color: #FFF; }
  .PublicButton--cBlue.is-hover--dark:hover {
    color: #2E3C43; }
  .PublicButton--cBlue.is-highlight--fb {
    border-color: #3A5999;
    background: #3A5999; }
    .PublicButton--cBlue.is-highlight--fb:hover {
      border-color: #334e87;
      background: #334e87; }
  .PublicButton--cBlue.is-highlight--tw {
    border: 2px solid #55ACEE;
    background: #55ACEE; }
    .PublicButton--cBlue.is-highlight--tw:hover {
      border-color: #3ea1ec;
      background: #3ea1ec; }
  .PublicButton--cBlue.is-highlight--li {
    border: 2px solid #007BB6;
    background: #007BB6; }
    .PublicButton--cBlue.is-highlight--li:hover {
      border-color: #006a9d;
      background: #006a9d; }

.PublicButton--public {
  font-size: 13px;
  text-transform: none; }

.PublicTitle {
  color: #2E3C43; }

.PublicTitle--feature {
  margin-bottom: 8px;
  color: #979EA1;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2.3px;
  line-height: 20px;
  text-transform: uppercase; }

.Feature-text {
  transition: all 0.2s;
  color: #636D72;
  font-size: 15px;
  line-height: 26px; }

hr,
.Sep {
  display: block;
  width: 100%;
  height: 1px;
  margin: 0;
  border: 0;
  background: #EEE; }

.Sep.u-vspace-l {
  margin-bottom: 40px; }

.Title--sectionMedium {
  margin-bottom: 20px;
  color: #2E3C43;
  font-size: 24px;
  line-height: 36px; }

.Footer-arrow {
  position: absolute;
  top: 21px;
  right: 0;
  color: #DDD; }

.Footer-social {
  color: #636D72;
  line-height: 40px; }
  @media (max-width: 760px) {
    .Footer-social {
      margin-top: 20px; } }

.FooterIcon--facebook,
.FooterIcon--linkedin,
.FooterIcon--twitter {
  position: relative;
  top: -2px; }

.FooterIcon--s14 {
  font-size: 14px; }

.FooterIcon {
  display: inline-block;
  -moz-osx-font-smoothing: GRAYscale;
  font-style: normal;
  font-weight: 400;
  line-height: 1; }
  .FooterIcon path {
    transition: all 0.2s ease;
    fill: #3AA9E3; }
  .FooterIcon:hover path {
    fill: #2E3C43; }

.u-lspace--20 {
  margin-left: 20px; }

.Footer-link {
  transition: color 0.2s ease;
  line-height: 28px; }

.Footer-item--mobile {
  display: block;
  position: relative;
  margin-bottom: 0;
  padding: 13px 0;
  border-bottom: 1px solid #EEE; }
  .Footer-item--mobile .Footer-link {
    display: block; }

.FooterIcon--mobile path {
  transition: all 0.2s ease;
  fill: #DDD; }

.FooterIcon--mobile:hover path {
  fill: #DDD; }

.FavMap {
  position: relative;
  height: 140px;
  overflow: hidden;
  background: #333 url("/assets/1.0.0-assets.136/images/layout/noise.png") repeat 0 0; }

.FavMap::before {
  content: '';
  position: absolute;
  z-index: 9995;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: all 100ms ease-in-out;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)); }

.FavMap:not(.is-pre-loading):not(.is-loading)::before {
  height: 20px; }

.FavMap-spinner {
  display: none;
  position: absolute;
  top: 34px;
  left: 50%;
  margin-left: -18px; }

.FavMap.is-pre-loading .FavMap-spinner,
.FavMap.is-loading .FavMap-spinner {
  display: block; }

.FavMap.FavMap--tall {
  height: 225px; }

.FavMap.FavMap--highShadow::before {
  height: 180px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  pointer-events: none; }

.FavMap.FavMap--highShadow:not(.is-pre-loading):not(.is-loading)::before {
  height: 150px; }

.FavMapTitle {
  position: absolute;
  z-index: 10000;
  bottom: 45px;
  width: 100%;
  transition: opacity 150ms ease-in-out;
  opacity: 1;
  line-height: normal; }

.FavMapTitle.is-hidden {
  opacity: 0; }

.FavMapTitle-inner {
  box-sizing: border-box;
  width: 940px;
  margin: auto; }

.FavMapTitle-sectionTitle,
.FavMapTitle-mapTitle {
  color: #FFF;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

.FavMapTitle-sectionTitle {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase; }

.FavMapTitle-mapTitle {
  margin: 0;
  font-size: 48px;
  font-weight: normal; }

.FavMapTitle-mapTitleLink {
  color: #FFF; }
  .FavMapTitle-mapTitleLink:hover {
    color: #FFF;
    text-decoration: none; }

@media (min-width: 760px) {
  .FavMap {
    height: 280px; }
  .FavMap-spinner {
    top: 104px; }
  .FavMap.FavMap--tall {
    height: 450px; }
  .FavMap--tall .FavMap-spinner {
    top: 189px; } }

@media only screen and (max-width: 320px) {
  .FavMap {
    height: 280px; }
  .FavMap-spinner {
    top: 104px; }
  .FavMap.FavMap--tall {
    height: 450px; }
  .FavMap--tall .FavMap-spinner {
    top: 189px; } }

@media only screen and (min-width: 320px) and (max-width: 955px) {
  .FavMap .FavMapTitle-inner {
    width: 100%;
    padding: 0 20px; } }

@media only screen and (min-width: 320px) and (max-width: 760px) {
  .FavMap {
    height: 320px; }
  .FavMap-spinner {
    top: 124px; }
  .FavMap.FavMap--tall {
    height: 320px; }
  .FavMap--tall .FavMap-spinner {
    top: 124px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .FavMap {
    height: 300px; }
  .FavMap-spinner {
    top: 114px; }
  .FavMap.FavMap--tall {
    height: 300px; }
  .FavMap--tall .FavMap-spinner {
    top: 114px; } }

/* FONT FACE */
.PublicBody {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  @media (max-width: 759px) {
    .PublicBody {
      overflow-y: visible; } }

.PublicBody--grey {
  background: #F9F9F9; }

.PublicBody-content {
  display: flex;
  flex-grow: 1;
  margin-top: 120px; }

.PublicBody.PublicBody--grey .PublicBody-content {
  background: #F9F9F9; }

/* FONT FACE */
.UserInfo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 76px 0 28px 0;
  border: 1px solid #dddddd;
  border-right: none;
  border-left: none;
  background: #f9f9f9;
  text-align: center; }

.UserInfo-avatar {
  position: absolute;
  z-index: 10000001;
  top: -48px;
  left: 50%;
  margin-left: -48px; }

.UserInfo-name {
  margin-bottom: 4px;
  color: #333333;
  font-size: 22px;
  font-weight: 300;
  line-height: 24px; }

.UserInfo-nameBreadcrumb,
.UserInfo-nameBreadcrumb a {
  color: #999999; }
  .UserInfo-nameBreadcrumb:hover,
  .UserInfo-nameBreadcrumb a:hover {
    color: #666666; }

.UserInfo-desc {
  max-width: 620px;
  margin: 12px 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px; }

.UserInfo-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #cccccc; }

.UserInfo-linksItem {
  display: flex;
  flex-wrap: nowrap;
  margin: 12px 0;
  line-height: 1; }

.UserInfo-linksItem .CDB-IconFont {
  margin-right: 4px; }

.UserInfo-linksItem--positive,
.UserInfo-linksItem--positive a {
  color: #8fb83f; }

@media (min-width: 760px) {
  .UserInfo-links {
    flex-direction: row; }
  .UserInfo-linksItem:not(:last-child) {
    margin-right: 28px; } }


/*# sourceMappingURL=public_dashboard_new.css.map*/